:root {
  --easy-columns: 4;
  --medium-columns: 6;
  --hard-columns: 6;

  --hard-columns-xs: 7;

  --hard-columns-sm: 7;
}

.playAreaMain {
  display: grid;
  justify-items: center;
  gap: 0.1rem;
  grid-template-columns: repeat(var(--hard-columns), 1fr);
}

.easy {
  grid-template-columns: repeat(var(--easy-columns), 1fr);
}

.medium {
  grid-template-columns: repeat(var(--medium-columns), 1fr);
}

.hard {
  grid-template-columns: repeat(var(--hard-columns), 1fr);
}

/* Breakpoints */
@media (min-width: 30rem) {
  .playAreaMain {
    width: 90%;
    margin-inline: auto;
    gap: 0.4rem;
  }

  .easy {
    width: 60%;
  }

  .hard {
    grid-template-columns: repeat(var(--hard-columns-xs), 1fr);
  }
}

@media (min-width: 48rem) {
  .playAreaMain {
    width: fit-content;
    max-width: 40rem;
    gap: 1rem;
  }

  .hard {
    grid-template-columns: repeat(var(--hard-columns-sm), 1fr);
  }
}
