@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'nprogress/nprogress.css';

#nprogress .bar {
  background: #f26419 !important;
}

#nprogress .spinner-icon {
  display: none;
}

@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/LilitaOne-Regular.woff2') format('woff2'),
    url('/src/assets/LilitaOne-Regular.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Lilita One', 'Georgia', 'sans-serif';
  height: 100vh;
  background: linear-gradient(#0f2027, #1f3d4a, #0f2027);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fadeOut {
  animation: fadeOut 300ms forwards;
}
